# set values here then rename to .envrc for direnv
export AWS_DEFAULT_REGION='ap-southeast-2'
export AWS_REGION='ap-southeast-2'
export AWS_ACCESS_KEY_ID="testing"
export AWS_SECRET_ACCESS_KEY="testing"
export AWS_SECURITY_TOKEN="testing"
export AWS_SESSION_TOKEN="testing"
export BUCKET_NAME='some-bucket'
export COGNITO_POOL_ARN=set-me
# DB_URL also supports SQLITE:
# export DB_URL='sqlite+pysqlite:///db.sqlite'
export DB_URL='postgresql+pg8000://postgres:dbpassword@localhost/postgres'
export PROFILE=set-me
# S3_ENDPOINT is used when using fake-s3
export S3_ENDPOINT='http://localhost:4569'
export USE_AWS_VAULT=false